{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!--         <div class="form">-->
<!--            <form method="post" action="/diagnostic/">-->
<!--               {% csrf_token %}-->
<!--               <fieldset>-->
<!--                  <div class="field">-->
<!--                     <label class="label_field">username</label>-->
<!--                     <input type="text" name="username" placeholder="username" />-->
<!--                  </div>-->
<!--                  <div class="field">-->
<!--                     <label class="label_field">Password</label>-->
<!--                     <input type="password" name="password" placeholder="Password" />-->
<!--                  </div>-->
<!--                  <div class="field margin_0">-->
<!--                     <label class="label_field hidden">hidden label</label>-->
<!--                     <button type="submit" class="main_bt">Ingresar</button>-->
<!--                  </div>-->
<!--               </fieldset>-->
<!--            </form>-->
<!--         </div>-->


   <div class="midde_cont">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-10">
               <div class="white_shd full margin_bottom_30">

                  <form action="/diagnostic/" method="POST">
                      {% csrf_token %}
                      <fieldset class="field-first">
                        <legend class="leg-one"><h2><i class="fa fa-folder-open"></i>Gestión de riesgos</h2></legend>

                          <fieldset class="field-first">
                                <legend class="leg-one"><h2><i class="fa fa-file-text-o"></i> NIM1:</h2></legend>

                                    <fieldset class="field-second">
                                        <h1><label class="col-md-8">¿Se identifican riesgos de ciberseguridad?</label></h1>
                                        <select class="turnintodropdown" name="gr_1">
                                            <option value="0">No</option>
                                            <option value="25">Si</option>
                                        </select>
                                    </fieldset>

                                    <fieldset class="field-second">
                                       <h1><label class="col-md-8">¿Los riesgos de ciberseguridad son tratados,
                                           aceptados y tolerados?</label></h1>
                                        <select class="turnintodropdown" name="gr_2">
                                            <option value="0">No</option>
                                            <option value="50">Si</option>
                                        </select>
                                    </fieldset>

                          </fieldset>

                          <fieldset class="field-first">
                              <legend class="leg-one"><h2><i class="fa fa-file-text-o"></i> NIM2:</h2></legend>

                                <fieldset class="field-second">
                                    <h1><label class="col-md-8">¿Existe una estrategia documentada de gestión de riesgos
                                    de ciberseguridad y los riesgos son documentados?</label></h1>
                                    <select class="turnintodropdown" name="gr_3">
                                            <option value="0">No</option>
                                            <option value="54">Si</option>
                                        </select>
                                </fieldset>

                                <fieldset class="field-second">
                                    <h1><label class="col-md-8">¿Los riesgos y sus impactos son priorizados?</label></h1>
                                    <select class="turnintodropdown" name="gr_4">
                                            <option value="0">No</option>
                                            <option value="60">Si</option>
                                        </select>
                                </fieldset>

                                <fieldset class="field-second">
                                    <h1><label class="col-md-8">¿Se realizan evaluaciones de riesgos para
                                        identificarlos y monitorizarlos? </label></h1>
                                        <select class="turnintodropdown" name="gr_5">
                                            <option value="0">No</option>
                                            <option value="64">Si</option>
                                        </select>
                                </fieldset>

                                <fieldset class="field-second">
                                    <h1><label class="col-md-8">¿Las actividades de gestión de riesgos cuentan
                                        con financiamiento, personal y herramientas adecuadas?</label></h1>
                                    <select class="turnintodropdown" name="gr_6">
                                            <option value="0">No</option>
                                            <option value="70">Si</option>
                                        </select>
                                </fieldset>

                                <fieldset class="field-second">
                                    <h1><label class="col-md-8">¿Se usan directrices para informar sobre la gestión
                                        de riesgos?</label></h1>
                                    <select class="turnintodropdown" name="gr_7">
                                            <option value="0">No</option>
                                            <option value="75">Si</option>
                                        </select>
                                </fieldset>


                          </fieldset>

                          <fieldset class="field-first">
                              <legend class="leg-one"><h2><i class="fa fa-file-text-o"></i> NIM3:</h2></legend>

                                <fieldset class="field-second">
                                    <h1><label class="col-md-8">¿Los riesgos son evaluados, categorizados y
                                        priorizados en función de su impacto y tolerancia?</label></h1>
                                    <select class="turnintodropdown" name="gr_8">
                                            <option value="0">No</option>
                                            <option value="79">Si</option>
                                        </select>
                                </fieldset>

                                <fieldset class="field-second">
                                    <h1><label class="col-md-8">¿La estrategia de gestión de riesgos se actualiza
                                        periódicamente, actualizando así las amenazas?</label></h1>
                                   <select class="turnintodropdown" name="gr_9">
                                            <option value="0">No</option>
                                            <option value="82">Si</option>
                                        </select>
                                </fieldset>

                                <fieldset class="field-second">
                                    <h1><label class="col-md-8">¿Existe un registro de riesgos estructurado?</label></h1>
                                   <select class="turnintodropdown" name="gr_10">
                                            <option value="0">No</option>
                                            <option value="85">Si</option>
                                        </select>
                                </fieldset>

                                <fieldset class="field-second">
                                    <h1><label class="col-md-8">¿Las actividades de gestión de riesgos están guiadas
                                        por políticas documentadas, las cuales incluyen normas específicas?</label></h1>
                                    <select class="turnintodropdown" name="gr_11">
                                            <option value="0">No</option>
                                            <option value="88">Si</option>
                                        </select>
                                </fieldset>

                                <fieldset class="field-second">
                                    <h1><label class="col-md-8">¿Las políticas de gestión de riesgo incluyen
                                        requisitos de cumplimiento de normas específicas? </label></h1>
                                   <select class="turnintodropdown" name="gr_12">
                                            <option value="0">No</option>
                                            <option value="91">Si</option>
                                        </select>
                                </fieldset>

                                <fieldset class="field-second">
                                    <h1><label class="col-md-8">¿Las actividades de gestión de riesgo se revisan
                                        periódicamente para garantizar el   cumplimiento de la política?</label></h1>
                                    <select class="turnintodropdown" name="gr_13">
                                            <option value="0">No</option>
                                            <option value="94">Si</option>
                                        </select>
                                </fieldset>

                                <fieldset class="field-second">
                                    <h1><label class="col-md-8">¿El personal que realiza las actividades de gestión
                                        de riesgos tiene las habilidades y conocimientos necesarios? </label></h1>
                                    <select class="turnintodropdown" name="gr_14">
                                            <option value="0">No</option>
                                            <option value="100">Si</option>
                                        </select>
                                </fieldset>


                          </fieldset>
                      </fieldset>

                      <fieldset class="field-first">
                        <legend class="leg-one"><h2><i class="fa fa-folder-open"></i>Gestión de activos</h2></legend>

                        <fieldset class="field-first">
                           <legend class="leg-one"><h2><i class="fa fa-file-text-o"></i> NIM1:</h2></legend>

                                <fieldset class="field-second">
                                    <h1><label class="col-md-8">¿Existe un inventario de activos TI y TO? </label></h1>
                                    <select class="turnintodropdown">
                                        <option>Choose a correct answer:</option>
                                        <option>Si</option>
                                        <option>No</option>
                                    </select>
                                </fieldset>

                                <fieldset class="field-second">
                                    <h1><label class="col-md-8">¿Los cambios en los activos inventariados
                                   son evaluados y aprobados antes de implementarse?</label></h1>
                                    <select class="turnintodropdown">
                                        <option>Choose a correct answer:</option>
                                        <option>Si</option>
                                        <option>No</option>
                                    </select>
                                </fieldset>

                                <fieldset class="field-second">
                                    <h1><label class="col-md-8">¿Existen líneas base de configuración de los activos?</label></h1>
                                     <select class="turnintodropdown">
                                            <option>Choose a correct answer:</option>
                                            <option>Si</option>
                                            <option>No</option>
                                     </select>
                                </fieldset>

                        </fieldset>

                        <fieldset class="field-first">
                           <legend class="leg-one"><h2><i class="fa fa-file-text-o"></i> NIM2:</h2></legend>

                                <fieldset class="field-second">
                                   <h1><label class="col-md-8">¿Los cambios en los activos inventariados son registrados?</label></h1>
                                     <select class="turnintodropdown">
                                            <option>Choose a correct answer:</option>
                                            <option>Si</option>
                                            <option>No</option>
                                        </select><br>
                                </fieldset>

                                <fieldset class="field-second">
                                   <h1><label class="col-md-8">¿El inventario de activos incluye atributos de
                                       los mismos como: ubicación, sistema operativo, fecha de adquisición, ¿etc? </label></h1>
                                     <select class="turnintodropdown">
                                            <option>Choose a correct answer:</option>
                                            <option>Si</option>
                                            <option>No</option>
                                        </select><br>
                                </fieldset>

                                <fieldset class="field-second">
                                   <h1><label class="col-md-8">¿Las líneas base de configuración se utilizan para
                                       configurar activos en la implementación y restauración?</label></h1>
                                     <select class="turnintodropdown">
                                            <option>Choose a correct answer:</option>
                                            <option>Si</option>
                                            <option>No</option>
                                        </select><br>
                                </fieldset>

                                <fieldset class="field-second">
                                   <h1><label class="col-md-8">¿Se establecen, siguen y mantienen procedimientos
                                       documentados para las actividades de gestión de activos?</label></h1>
                                     <select class="turnintodropdown">
                                            <option>Choose a correct answer:</option>
                                            <option>Si</option>
                                            <option>No</option>
                                        </select><br>
                                </fieldset>

                                <fieldset class="field-second">
                                   <h1><label class="col-md-8">¿Las actividades de gestión de activos cuentan
                                       con financiamiento, personal y herramientas adecuadas?</label></h1>
                                     <select class="turnintodropdown">
                                            <option>Choose a correct answer:</option>
                                            <option>Si</option>
                                            <option>No</option>
                                        </select><br>
                                </fieldset>

                        </fieldset>

                        <fieldset class="field-first">
                           <legend class="leg-one"><h2><i class="fa fa-file-text-o"></i> NIM3:</h2></legend>

                                <fieldset class="field-second">
                                   <h1><label class="col-md-8">¿El inventario de activos es actualizado periódicamente
                                       o cuando se ingresa o retira un activo?</label></h1>
                                     <select class="turnintodropdown">
                                            <option>Choose a correct answer:</option>
                                            <option>Si</option>
                                            <option>No</option>
                                        </select><br>
                                </fieldset>

                                <fieldset class="field-second">
                                   <h1><label class="col-md-8">¿Los datos se eliminan de forma segura de los
                                       activos antes de su redistribución o retiro?</label></h1>
                                     <select class="turnintodropdown">
                                            <option>Choose a correct answer:</option>
                                            <option>Si</option>
                                            <option>No</option>
                                        </select><br>
                                </fieldset>

                                <fieldset class="field-second">
                                   <h1><label class="col-md-8">¿Se usa el inventario de activos de información
                                       para identificar los riesgos cibernéticos?</label></h1>
                                     <select class="turnintodropdown">
                                            <option>Choose a correct answer:</option>
                                            <option>Si</option>
                                            <option>No</option>
                                        </select><br>
                                </fieldset>

                                <fieldset class="field-second">
                                   <h1><label class="col-md-8">¿Los activos de información se resetean o
                                       destruyen al final de su vida útil?</label></h1>
                                     <select class="turnintodropdown">
                                            <option>Choose a correct answer:</option>
                                            <option>Si</option>
                                            <option>No</option>
                                        </select><br>
                                </fieldset>

                                <fieldset class="field-second">
                                   <h1><label class="col-md-8">¿Las configuraciones de los activos son supervisadas
                                       para garantizar el seguimiento de las líneas base de configuración? </label></h1>
                                     <select class="turnintodropdown">
                                            <option>Choose a correct answer:</option>
                                            <option>Si</option>
                                            <option>No</option>
                                        </select><br>
                                </fieldset>

                                <fieldset class="field-second">
                                   <h1><label class="col-md-8">¿Los cambios en los activos se prueban y registran antes
                                       de ser implementados para determinar el impacto de la ciberseguridad? </label></h1>
                                     <select class="turnintodropdown">
                                            <option>Choose a correct answer:</option>
                                            <option>Si</option>
                                            <option>No</option>
                                        </select><br>
                                </fieldset>

                                <fieldset class="field-second">
                                   <h1><label class="col-md-8">¿El personal que realiza las actividades de gestión
                                       de activos tiene las habilidades y conocimientos necesarios?  </label></h1>
                                     <select class="turnintodropdown">
                                            <option>Choose a correct answer:</option>
                                            <option>Si</option>
                                            <option>No</option>
                                        </select><br>
                                </fieldset>

                        </fieldset>

                      </fieldset>

                       <div class="button_block">
                            <button type="submit" class="btn cur-p btn-outline-secondary">Submit</button>
                       </div>

                  </form>

               </div>
            </div>
         </div>

      </div>
   </div>






{% endblock %}